In [16]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

df = pd.read_csv('/Users/austin/Desktop/MBAN/SUMMER/MMAI 5000/PEW Research Data/Data-ATP-W119-PEW.csv')

/var/folders/qy/2nnpjb7s6t7cyk27328x2yrh0000gn/T/ipykernel_2808/118623186.py:6: DtypeWarning: Columns (154) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('/Users/austin/Desktop/MBAN/SUMMER/MMAI 5000/PEW Research Data/Data-ATP-W119-PEW.csv')

In [17]:
df.shape

(11004, 156)

In [18]:
df.head()

,QKEY,INTERVIEW_START_W119,INTERVIEW_END_W119,DEVICE_TYPE_W119,LANG_W119,FORM_W119,DESRISK_COMF_W119,DESRISK_CREAT_W119,DESRISK_NTECH_W119,RISK2_W119,...,F_PARTYLN_FINAL,F_PARTYSUM_FINAL,F_PARTYSUMIDEO_FINAL,F_REG,F_INC_SDT1,F_IDEO,F_INTFREQ,F_VOLSUM,F_INC_TIER2,WEIGHT_W119
0,100314,12/13/2022 23:12:27,12/13/2022 23:23:59,2,1,1,4,3,4,2,...,,1,1,1,4,2,5,1,2,0.522544
1,100363,12/13/2022 19:50:59,12/13/2022 20:05:29,2,1,2,3,3,2,1,...,,2,3,1,9,3,2,1,3,0.382610
2,100598,12/14/2022 16:30:21,12/14/2022 16:47:21,1,1,1,4,4,3,2,...,,1,1,1,9,2,2,1,3,0.432799
3,100637,12/14/2022 08:22:09,12/14/2022 08:33:45,1,1,2,2,1,3,2,...,1,1,1,1,5,2,3,2,2,0.671114
4,100803,12/15/2022 09:05:46,12/15/2022 09:22:29,1,1,2,3,3,4,1,...,,1,1,1,9,2,4,1,3,0.196177

In [19]:
df.dtypes

QKEY                      int64
INTERVIEW_START_W119     object
INTERVIEW_END_W119       object
DEVICE_TYPE_W119          int64
LANG_W119                 int64
                         ...
F_IDEO                    int64
F_INTFREQ                object
F_VOLSUM                  int64
F_INC_TIER2              object
WEIGHT_W119             float64
Length: 156, dtype: object

In [20]:
df.describe()

,QKEY,DEVICE_TYPE_W119,LANG_W119,FORM_W119,DESRISK_COMF_W119,DESRISK_CREAT_W119,DESRISK_NTECH_W119,RISK2_W119,AI_HEARD_W119,CNCEXC_W119,...,F_RELIG,F_RELIGCAT1,F_ATTEND,F_PARTY_FINAL,F_PARTYSUM_FINAL,F_PARTYSUMIDEO_FINAL,F_INC_SDT1,F_IDEO,F_VOLSUM,WEIGHT_W119
count,1.100400e+04,11004.000000,11004.000000,11004.000000,11004.000000,11004.000000,11004.000000,11004.000000,11004.000000,11004.000000,...,11004.000000,11004.000000,11004.000000,11004.000000,11004.000000,11004.000000,11004.000000,11004.000000,11004.000000,11004.000000
mean,1.772323e+11,1.677027,1.039804,1.499182,2.989549,2.391130,2.582697,2.383588,1.911123,3.113413,...,5.228553,2.670029,4.390858,3.019538,1.740912,2.729008,10.047801,4.810251,1.882134,1.000000
std,6.611107e+10,0.524606,0.195507,0.500022,2.593657,2.431065,2.788196,9.631999,2.688112,8.834480,...,8.846445,7.884602,5.301660,9.056001,1.337942,1.732756,20.467926,13.402154,5.185202,1.150309
min,1.003140e+05,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.008109
25%,2.018010e+11,1.000000,1.000000,1.000000,2.000000,2.000000,2.000000,1.000000,1.000000,2.000000,...,1.000000,1.000000,2.000000,1.000000,1.000000,1.000000,3.000000,2.000000,1.000000,0.397223
50%,2.018012e+11,2.000000,1.000000,1.000000,3.000000,2.000000,3.000000,1.000000,2.000000,2.000000,...,2.000000,2.000000,5.000000,2.000000,2.000000,3.000000,6.000000,3.000000,2.000000,0.634431
75%,2.020010e+11,2.000000,1.000000,2.000000,4.000000,3.000000,3.000000,2.000000,2.000000,3.000000,...,10.000000,3.000000,6.000000,3.000000,2.000000,4.000000,9.000000,4.000000,2.000000,1.093206
max,2.022011e+11,3.000000,2.000000,2.000000,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000,...,99.000000,99.000000,99.000000,99.000000,9.000000,9.000000,99.000000,99.000000,99.000000,7.195378

In [21]:
cols_of_interest = [
  'F_AGECAT','F_GENDER','F_EDUCCAT2','F_INC_TIER2','F_PARTYLN_FINAL','INDUSTRYCOMBO_W119',
  'AI_HEARD_W119','USEAI_W119','TWITTER1_MOD_W119','AINEWS1_W119','AINEWS2_W119',
  'AIKNOW_INDEX_W119','DESRISK_COMF_W119','AIHCCOMF_W119','AIHCTRT1_W119','AIHCTRT2_W119',
  'AIWRKH1_W119','WEIGHT_W119'
]
df_core = df[cols_of_interest]

In [22]:
df_core

,F_AGECAT,F_GENDER,F_EDUCCAT2,F_INC_TIER2,F_PARTYLN_FINAL,INDUSTRYCOMBO_W119,AI_HEARD_W119,USEAI_W119,TWITTER1_MOD_W119,AINEWS1_W119,AINEWS2_W119,AIKNOW_INDEX_W119,DESRISK_COMF_W119,AIHCCOMF_W119,AIHCTRT1_W119,AIHCTRT2_W119,AIWRKH1_W119,WEIGHT_W119
0,4,1,3,2,,,3,5,2,3,9,0,4,1,3,1,3,0.522544
1,2,2,6,3,,2,2,3,2,,,6,3,2,1,2,2,0.382610
2,3,2,6,3,,6,2,1,2,3,2,6,4,3,3,1,3,0.432799
3,4,2,4,2,1,,2,3,1,,,2,2,3,1,1,3,0.671114
4,4,1,5,3,,,3,4,2,,,3,3,3,2,1,3,0.196177
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10999,4,2,2,1,,,3,3,2,,,2,3,2,1,1,3,0.454399
11000,2,2,5,2,1,2,1,2,2,,,4,3,3,2,1,3,0.756079
11001,1,2,4,2,,1,2,5,1,3,2,3,3,2,1,1,3,1.029222
11002,2,1,4,,2,8,2,5,1,3,2,5,3,4,2,1,3,0.790176
11003,1,2,2,1,2,,1,4,1,3,1,3,1,4,2,1,3,1.665665

In [23]:
missing_counts = df_core.isna().sum()

In [24]:
missing_counts

F_AGECAT              0
F_GENDER              0
F_EDUCCAT2            0
F_INC_TIER2           0
F_PARTYLN_FINAL       0
INDUSTRYCOMBO_W119    0
AI_HEARD_W119         0
USEAI_W119            0
TWITTER1_MOD_W119     0
AINEWS1_W119          0
AINEWS2_W119          0
AIKNOW_INDEX_W119     0
DESRISK_COMF_W119     0
AIHCCOMF_W119         0
AIHCTRT1_W119         0
AIHCTRT2_W119         0
AIWRKH1_W119          0
WEIGHT_W119           0
dtype: int64

In [25]:
print(df_core['AINEWS2_W119'].value_counts(dropna=False))

AINEWS2_W119
      5493
3     2003
9     1968
2     1008
1      492
99      40
Name: count, dtype: int64

In [26]:
for c in df_core.select_dtypes(include='object'):
    df_core[c] = df_core[c].replace(r'^\s*$', np.nan, regex=True)

df_core = df_core.replace(99, np.nan)

for c in ['F_AGECAT','F_GENDER','F_EDUCCAT2']:
    mode_val = df_core[c].mode(dropna=True).iloc[0]
    df_core[c] = df_core[c].fillna(mode_val)

df_core['F_INC_TIER2'] = pd.to_numeric(df_core['F_INC_TIER2'], errors='coerce')
median_inc = df_core['F_INC_TIER2'].median()
df_core['F_INC_TIER2'] = df_core['F_INC_TIER2'].fillna(median_inc)

df_core['F_PARTYLN_FINAL']    = df_core['F_PARTYLN_FINAL'].fillna('Unknown')
df_core['INDUSTRYCOMBO_W119'] = df_core['INDUSTRYCOMBO_W119'].fillna('Unknown')

for c in ['AI_HEARD_W119','USEAI_W119','TWITTER1_MOD_W119','AINEWS1_W119','AINEWS2_W119']:
    df_core[c] = df_core[c].fillna(0)

scale_cols = ['DESRISK_COMF_W119','AIHCCOMF_W119',
              'AIHCTRT1_W119','AIHCTRT2_W119','AIWRKH1_W119']
for c in scale_cols:
    df_core[c] = pd.to_numeric(df_core[c], errors='coerce')
    med = df_core[c].median()
    df_core[c] = df_core[c].fillna(med)


missing = df_core.isna().sum().to_frame('missing_count')
missing['missing_ratio'] = missing['missing_count'] / len(df_core)
print(missing)

/var/folders/qy/2nnpjb7s6t7cyk27328x2yrh0000gn/T/ipykernel_2808/228263629.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_core[c] = df_core[c].replace(r'^\s*$', np.nan, regex=True)

                    missing_count  missing_ratio
F_AGECAT                        0            0.0
F_GENDER                        0            0.0
F_EDUCCAT2                      0            0.0
F_INC_TIER2                     0            0.0
F_PARTYLN_FINAL                 0            0.0
INDUSTRYCOMBO_W119              0            0.0
AI_HEARD_W119                   0            0.0
USEAI_W119                      0            0.0
TWITTER1_MOD_W119               0            0.0
AINEWS1_W119                    0            0.0
AINEWS2_W119                    0            0.0
AIKNOW_INDEX_W119               0            0.0
DESRISK_COMF_W119               0            0.0
AIHCCOMF_W119                   0            0.0
AIHCTRT1_W119                   0            0.0
AIHCTRT2_W119                   0            0.0
AIWRKH1_W119                    0            0.0
WEIGHT_W119                     0            0.0

In [27]:
df_core

,F_AGECAT,F_GENDER,F_EDUCCAT2,F_INC_TIER2,F_PARTYLN_FINAL,INDUSTRYCOMBO_W119,AI_HEARD_W119,USEAI_W119,TWITTER1_MOD_W119,AINEWS1_W119,AINEWS2_W119,AIKNOW_INDEX_W119,DESRISK_COMF_W119,AIHCCOMF_W119,AIHCTRT1_W119,AIHCTRT2_W119,AIWRKH1_W119,WEIGHT_W119
0,4.0,1.0,3.0,2.0,Unknown,Unknown,3.0,5.0,2.0,3,9,0,4.0,1.0,3.0,1.0,3.0,0.522544
1,2.0,2.0,6.0,3.0,Unknown,2,2.0,3.0,2.0,0,0,6,3.0,2.0,1.0,2.0,2.0,0.382610
2,3.0,2.0,6.0,3.0,Unknown,6,2.0,1.0,2.0,3,2,6,4.0,3.0,3.0,1.0,3.0,0.432799
3,4.0,2.0,4.0,2.0,1,Unknown,2.0,3.0,1.0,0,0,2,2.0,3.0,1.0,1.0,3.0,0.671114
4,4.0,1.0,5.0,3.0,Unknown,Unknown,3.0,4.0,2.0,0,0,3,3.0,3.0,2.0,1.0,3.0,0.196177
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10999,4.0,2.0,2.0,1.0,Unknown,Unknown,3.0,3.0,2.0,0,0,2,3.0,2.0,1.0,1.0,3.0,0.454399
11000,2.0,2.0,5.0,2.0,1,2,1.0,2.0,2.0,0,0,4,3.0,3.0,2.0,1.0,3.0,0.756079
11001,1.0,2.0,4.0,2.0,Unknown,1,2.0,5.0,1.0,3,2,3,3.0,2.0,1.0,1.0,3.0,1.029222
11002,2.0,1.0,4.0,2.0,2,8,2.0,5.0,1.0,3,2,5,3.0,4.0,2.0,1.0,3.0,0.790176
11003,1.0,2.0,2.0,1.0,2,Unknown,1.0,4.0,1.0,3,1,3,1.0,4.0,2.0,1.0,3.0,1.665665

In [28]:
df_core.to_csv("/Users/austin/Desktop/cleaned_data.csv", sep=',', encoding='utf-8', index=False)